-
  const STATE_KEY = 'TQ_HOUSE_CEREMONY_WORLD_STATE';
  const worldState = getState(STATE_KEY);
   
mixin hopper
  response#hopper.
    House Hopper

mixin lovelace
  response#lovelace.
    House Lovelace

mixin turing
  response#turing.
    House Turing

mixin neumann
  response#neumann.
    House von Neumann

mixin yes_lo
  response#yes_lo.
    I am certain.

mixin yes_ho
  response#yes_ho.
    I am certain.

mixin yes_vn
  response#yes_vn.
    I am certain.

mixin yes_tu
  response#yes_tu.
    I am certain.

mixin no
  response#no.
    No, I want to keep thinking.

conversation(display_name="Arcane Academy House Fire")
  case lastResponse
    
    when "hopper"
      statement#hopper
      responses 
        +yes_ho 
        +no

    when "lovelace"
      statement#lovelace
      responses 
        +yes_lo 
        +no

    when "turing"
      statement#turing
      responses 
        +yes_tu 
        +no

    when "neumann"
      statement#neumann
      responses 
        +yes_vn
        +no

    when "yes_lo"
      - worldState.playerHouse = "lovelace"
      statement#congratulations
        
    when "yes_ho"
      - worldState.playerHouse = "hopper"
      statement#congratulations

    when "yes_vn"
      - worldState.playerHouse = "neumann"
      statement#congratulations
        
    when "yes_tu"      
      - worldState.playerHouse = "turing"
      statement#congratulations

    when "no"
      statement#choose 
      responses
        +hopper 
        +lovelace 
        +turing 
        +neumann 

    default
      statement#default
      responses
        +hopper 
        +lovelace 
        +turing 
        +neumann 

  statements
    statement#default
      text.
        In our most sacred House Ceremony, Arcane Academy invites you to join a house. 
        Choose your house by submitting your pledge scroll to my fire.
        
    statement#hopper
      text.
        Are you certain you wish to join House Hopper?

    statement#lovelace
      text.
        Are you certain you wish to join House Lovelace?

    statement#turing
      text.
        Are you certain you wish to join House Turing?

    statement#neumann
      text.
        Are you certain you wish to join House von Neumann?

    statement#congratulations 
      text.
        Congratulations on joining #[span.highlight House #{worldState.displayNames[worldState.playerHouse]}]!

    statement#choose 
      text.
        When you are ready, choose your house by submitting your pledge scroll to my fire. If you are still unsure, 
        Arcane's Heads of Houses can give you more information to help you decide.

// Flush world state changes, if any
- setState(STATE_KEY, worldState);