-
  const STATE_KEY = 'TQ_HOUSE_CEREMONY_WORLD_STATE';
  const worldState = getState(STATE_KEY);    

mixin help
  response#help.
    Can I help in some way?

mixin start  
  response#start.
    I would be happy to fill in. 
    What do I have to do for the House Gauntlet? Where do I start? 

mixin student 
  response#student.
    Are you going to look for the missing student?

conversation(display_name="Professor Kimberley Heapsort")
  case lastResponse
    
    when "help"
      statement#help
      responses
        +start 
        +student

    when "start"
      statement#start
      responses          
        +student

    when "student"
      statement#student
      responses 
        +start

    default
      statement#default
      responses
        +help
        +student

  statements
    statement#default
      text.
        Oh my, colleagues and students! A most terrible thing has happened. 
        The Gauntleter who was supposed to represent #[span.highlight House #{worldState.displayNames[worldState.playerHouse]}] 
        in the House Gauntlet has gone missing!

    statement#help
        text.
          Well, you’ve just joined the Academy, right? 
          And you’ve just joined House #{worldState.displayNames[worldState.playerHouse]}? 
          Now that you mention it... I think you could help. 
          Would you be able to take the place of House #{worldState.displayNames[worldState.playerHouse]}’s Gauntleter?
    
    statement#start
        text.
          The House Gauntlet will take place in each of the four houses. 
          You will begin in #[span.highlight House Lovelace], where you will earn a spell that will open the next House, 
          and so on. Each house can be accessed from the four corridors leading off the Main Hall.<br><br>
          To start the Gauntlet, head to the Lovelace corridor decked in Lovelace blue up on the second floor of the Main Hall.  

    statement#student
        text.
          Of course! We’ll begin the search immediately. I’m sure it’s nothing...<br><br>
          *swallows nervously*<br><br>
          She’s bound to turn up any minute now. It’s definitely nothing to be concerned about, 
          especially if you are able to undertake the challenges of the House Gauntlet. 
          I’m sure it’s nothing... too... malicious... Yes, no, certainly not.


// Flush world state changes, if any
- setState(STATE_KEY, worldState);