-
  const STATE_KEY = 'TQ_HOUSE_CEREMONY_WORLD_STATE';
  const worldState = getState(STATE_KEY);    


conversation(display_name="Statue of Ada Lovelace")
  case lastResponse

    default
        statement#default

  statements
    statement#default
      text.
        Rumor's spreading through the halls... secret chambers of the House Gauntlet... a missing student... Arcane Academy at risk...
        
// Flush world state changes, if any
- setState(STATE_KEY, worldState);