-
  const STATE_KEY = 'TQ_HOUSE_CEREMONY_WORLD_STATE';
  const worldState = getState(STATE_KEY);    


conversation(display_name="Academy Bulletin")
  case lastResponse

    default
        statement#default

  statements
    statement#default
      text.
        Welcome to Arcane Academy of API Arts!
        

// Flush world state changes, if any
- setState(STATE_KEY, worldState);