-
  const STATE_KEY = 'TQ_LOVELACE_TOWER_WORLD_STATE';
  const worldState = getState(STATE_KEY);    

conversation(display_name="BOOK TITLE 1")
  statement#default
  responses

  statements
    statement#default
      text.
        Oh, this is embarrassing! I'm sorry, but the way forward is blocked right now. 
        I've sent a raven requesting the Academy excavation crew arrive as soon as possible.
        
// Flush world state changes, if any
- setState(STATE_KEY, worldState);
