-
  const STATE_KEY = 'TQ_LOVELACE_TOWER_WORLD_STATE';
  const worldState = getState(STATE_KEY);    

conversation(display_name="BOOK TITLE 1")
  statement#default
  responses

  statements
    statement#default
      text.
        <p style="text-align:center">
        <span class="highlight">Book Title</span><br><br>
        by author name<br><br>
        Excerpt from book</p>
        
// Flush world state changes, if any
- setState(STATE_KEY, worldState);
