mixin fragment
    response#read.
        Read the scroll.

conversation(display_name="Inscription Fragment")
    case lastResponse
        when "read"
            statement#fragment

        default
            statement#default
            responses
                +fragment

    statements
        statement#default
            text.
                It looks like this scroll contains an undamaged inscription passage!
        statement#fragment
            text.
                <p>The Inscription Fragment reads:<br><br>

                <em><span class="highlight">For the final door shall stay locked until I am able to scry
                The programmable answers that will remove this haze
                From my querent and magical eye.</span></em><br><br>

                <span style="text-align:center"><em>*You'll want to copy this to the QuestIDE*</em></span></p>
