-
  const STATE_KEY = 'TQ_API_ACADEMY_WORLD_STATE';
  const worldState = getState(STATE_KEY);
  let allComplete = worldState.insideCatacombs.keySpellCount === 4 ? true : false;
    

mixin personal_intro
  response#personal_intro.
    Ahhh, a ghost! Who are you again?

mixin catacombs_introduction
  response#catacombs_introduction.
    What should I do inside the Catacombs?

mixin get_started
  response#get_started.
    I'm ready to face the challenges ahead and find my place at the Academy.

mixin proceed
  response#proceed.
    Here I go!

mixin pledge_scroll
  response#pledge_scroll.
    I've received my pledge scroll, what do I do now?

conversation(display_name="Ghost of the Catacombs")
  case lastResponse
    when "personal_intro"
      statement#personal_intro
      responses
        +get_started
        +catacombs_introduction

    when "catacombs_introduction"
      statement#catacombs_introduction
      responses
        +get_started
        +personal_intro

    when "proceed"
      statement#proceed

    when "ack"
      statement#ack
      responses
        +catacombs_introduction
        +personal_intro

    when "help"
      statement#help
      responses
        +catacombs_introduction

    when "pledge_scroll"
      statement#congratulations

    when "get_started"
      statement#get_started
      responses
        if worldState.insideCatacombs.hasCredentials
          +proceed
          +catacombs_introduction
          +personal_intro
        else
          response#ack.
            Understood. I must give my Twilio Credentials to the statue before continuing on into the Catacombs. 

    default
      if !worldState.insidePerimeter.ghost_introduction
        - worldState.insidePerimeter.ghost_introduction = true;
        statement#default
        responses
          +catacombs_introduction
          +get_started

      else
        statement#follow_up_greeting
        responses
          if allComplete
            +pledge_scroll
            +personal_intro
          else 
            +catacombs_introduction
            response#help.
              I need help completing the challenges. 

  statements
    statement#default
      text.
        Oh my, we haven't had a visitor to the Catacombs in quite a long while! I am Professor Hattip Restapi, but you can call me Professor Hattie. I'm here to guide you through these Catacombs and help you face the challenges ahead. <br><br>
        
        The challenges you'll face inside these Catacombs will not only test your ability to weild the power of APIs, but help you discover where your magic aligns. Is it in using code to express yourself? Solving problems with code? Harnessing the theory and science underneath the code? Or using code to push the boundaries of everyday life?  

    statement#catacombs_introduction
      text.
        Each hallway in these Catacombs belongs to one of the four houses of the Arcane Academy of API Arts. In each hallway you will uncover new information and face new challenges.  <br><br>

        When you complete the challenge for each house, you will receive one part of a spell that when combined, will give you a key to the Sacred Scroll Room.<br><br>
        
        Inside the Sacred Scroll Room is a Pledge Scroll, that will be infused with the magic you reveal as you move through the Catacombs. Present this scroll to the Headmaster at the Academy and discover which House you belong to.   

    statement#get_started
      if worldState.insideCatacombs.hasCredentials
        text.
          You've come to the Academy well prepared, with your Twilio account credentials in tow. You may proceed into the Catacombs.
      else
        text.
          Before you begin, you must be prepared with your Twilio account credentials. Find these and give them to the statue.

    statement#proceed 
      text.
        Good luck! Come back and see me if you need help.

    statement#follow_up_greeting
      if allComplete
        text.
          Operator, hello again! How are you faring on your journey through the Catacombs?

      else if worldState.insideCatacombs.keySpellCount === 0
        text.
          Operator, hello again! How are you faring on your journey through the Catacombs? It looks like you haven't pieced together any of the spell you must use to get the key to the Sacred Scroll Room.
      
      else 
        text.
          Operator, hello again! How are you faring on your journey through the Catacombs? It looks like you have only pieced together #{worldState.insideCatacombs.keySpellCount} of the four parts of the spell you must use to get the key to the Sacred Scroll Room.


    statement#congratulations
      text.
        Well done! Take your pledge scroll to the Headmaster at the entrance of the Academy and find out to which House you belong! I hear that the House Gauntlet is happening soon. The House Gauntlet is a riveting competition of code between each House. Better get there, before it begins!

    statement#ack
      text.
        Visit the ultimate API spellbook: the <a href="https://twilio.com/console">Twilio Console</a>. From there you'll be able to find the credentials the Statue needs.

    statement#help
      text.
        Check out the API Course or these blog posts.

    statement#personal_intro
      text.
        I am Professor Hattip Restapi, but you can call me Professor Hattie. I'm here to guide you through these Catacombs and help you face the challenges ahead.

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
