-
  const STATE_KEY = 'TQ_API_ACADEMY_WORLD_STATE';
  const worldState = getState(STATE_KEY);

mixin why_credentials
  response#why_credentials.
    Why do I need Twilio credentials?

conversation(display_name="Guardian of the Catacombs")
  case lastResponse
    when "why_credentials"
      statement#why

    default
      statement#default
      responses
        +why_credentials

  statements
    statement#default
      text.
        Welcome to the Catacombs. Now that I have your Twilio credentials, you may complete the challenges before you.

    statement#why
      text.
        Why credentials– ?!? What kind of Guardian would I be if I issued access to the Catacombs to just anyone irrespective of their qualification, competence, or authority? <br><br>
        *Cough* I apologize for that outburst, I don’t know what came over me. <br><br>
        Truth be told, I’m also not the kind of Guardian to make rules just for rules’ sake. Retrieving the pledge scroll from the depths of the Catacombs is no mere feat, and while some challenges may test you on your theoretical knowledge of API arts, others will ask you to put that theory into practice. I daresay you will be needing those credentials before long… ah, dear Operator, I do not envy you!


// Flush world state changes, if any
- setState(STATE_KEY, worldState);
