-
  const STATE_KEY = 'TQ_API_ACADEMY_WORLD_STATE';
  const worldState = getState(STATE_KEY);

conversation(display_name="Catacombs Guardian")
  statement#default
  responses

  statements
    statement#default
      text.
        Welcome to the Catacombs. Now that I have your Twilio credentials, you may complete the challenges before you.

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
