-
  const STATE_KEY = 'TQ_API_ACADEMY_WORLD_STATE';
  const worldState = getState(STATE_KEY);

conversation(display_name="Dusty Statue of John von Neumann")
  statement#default
  responses

  statements
    statement#default
      text.
        In House Neumann, you will discover that efficiency and logic are at the core of your magic. Knowing that GET requests are used to retrieve information and POST requests are used to send information is necessary to maximize the efficiency of your API code.

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
