-
  const STATE_KEY = 'TQ_API_ACADEMY_WORLD_STATE';
  const worldState = getState(STATE_KEY);

mixin tools 
  response#tools.
    What kind of knowledge is needed to wield the tools of APIs?

conversation(display_name="Dusty Statue of Grace Hopper")
  case lastResponse
    when "tools"
      statement#tools

    default
      statement#default
      responses
        +tools
        
  statements
    statement#default
      text.
        In House Hopper, you will find that knowing how to wield tools is the best way to achieve success. 
        For example, to send auth credentials in an API request in Postman, you must use the Authorization tab. 
        This knowledge will magnify the magic of House Hopper.
  
    statement#tools 
      text.
        Sometimes only minimal API knowledge is needed to wield API tools, especially those like Postman. 
        Learners need not fear moths to debug!

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
